#app {
  min-width: 355px;
  padding: 30px;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #222;
}
.spin {
  -webkit-animation: rotate 1.2s linear infinite;
          animation: rotate 1.2s linear infinite;
  }
@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

a {
  color: #2c3e50;
  }
#nav {
  text-align: left;
  background: #eee;
  padding: .27rem 1rem .3rem;
  border-radius: 5px;
  }
  #nav > ul {
    margin: 0;
    padding: 0;
    }
    #nav > ul > li {
      display: inline-block;
      list-style: none;
      margin-right: 1.2rem;
      }
    #nav > ul > li.right {
      float: right;
      }
      #nav > ul > li:last-child {
        margin-right: 0;
        }
      #nav > ul > li > a {
        text-decoration: none;
        }
        #nav > ul > li > a > .i16 {
          position: relative;
          top: 2px;
          }
          #nav > ul > li > a > .i16.sun {
            top: 3px;
            }
      #nav > ul > li > a.router-link-active {
        font-weight: bold;
        text-decoration: none;
        }
        

.records {
  line-height: 1.333rem;
  }
  .record {
    transition: all .1s ease, outline-width 0s, outline-color 0s;
    padding: 1rem;
    margin-top: .5rem;
    border: 1px solid #eee;
    border-radius: 5px;
    }
  .record-leave-to {
    opacity: 0;
    transform: translateY(40px);
    }
    .record > .actions {
      text-align: right;
      float: right;
      }
      .record > .actions > a {
        cursor: pointer;
        }
    .record > .title > .source {
      text-decoration: none;
      font-size: smaller;
      margin-right: .33rem;
      text-transform: lowercase;
      }
    .record > .title > .link {
      text-decoration: none;
      border-bottom: 1px dotted;
      }
    .record > .category {
      font-weight: bold;
      display: inline;
      }
      .record > .category > .ban {
        font-weight: normal;
        margin-right: .333rem;
        cursor: pointer;
        }
        .record > .category > .ban > .i16 {
          position: relative;
          top: 3px;
          }
    .record > .pubdate {
      display: inline-block;
      font-size: .65rem;
      line-height: 1;
      color: #555;
      position: relative;
      top: -1px
      }
    .record > .content {
      margin-top: .333rem;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      }
  .record.selected {
    outline: 4px solid #add8e6e6;
    outline-offset: -4px;
    border-color: #fff;
    }
.empty {
  text-align: center;
  }
  .empty > .reload {
    position: relative;
    top: 3px;
    cursor: pointer;
    }
.error {
  padding: .1rem;
  background: #ff7f50bd;
  text-align: center;
  border-radius: 3px;
  }
  .error > .reload {
    position: relative;
    top: 3px;
    cursor: pointer;
    }


.sources {
  border-bottom: 1px solid #eee;
  border-radius: 5px;
  margin: .5rem 0;
  overflow: hidden;
  }
  .sources > .source {
    display: flex;
    flex-flow: row;
    border: 1px solid #eee;
    border-right: 0;
    border-bottom: 0;
    }
  .sources > .source:hover {
    background-color: #f6f6f6;
    }
    .sources > .source > span {
      width: 100%;
      border-right: 1px solid #eee;
      padding: .3rem 1rem .25rem;
      }
    .sources > .source > span:first-child {
      max-width: 1%;
      text-align-last: center;
      color: #777;
      }
    .sources > .source > span:last-child {
      max-width: 5%;
      text-align: center;
      }


.load-more {
  display: block;
  width: 58px;
  margin: .5rem auto 0;
  padding: 3px .31rem 4px .4rem;
  text-align: center;
  background: #eee;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  opacity: .33;
  height: 19px;
  }
  .load-more > span {
    position: relative;
    top: -6px;
    margin-right: 1px;
    font-size: .86rem;
    }
  .load-more > i {
    position: relative;
    top: -4px;
    font-size: 1.4rem;
    font-style: normal;
    }
  @supports(-webkit-tap-highlight-color: black) { /* webkit */
    .load-more > span { top: -5px; }
    .load-more > i { top: -6px; }
    }
.load-more:hover {
  opacity: 1;
  }


.modal {
  position: fixed;
  top: 10%;
  left: 0;
  right: 0;
  max-width: 30rem;
  margin: 0 auto;
  background: #eee;
  padding: 1rem;
  border: 4px solid #add8e6e6;
  border-radius: 4px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, .1);
  }
  .modal .title {
    color: #333;
    font-size: .75rem;
    margin-bottom: .18rem;
    }
  .modal input {
    width: 100%;
    box-sizing: border-box;
    margin: 0 0 1%;
    padding: 1% 1.9%;
    border-radius: 4px;
    border: 1px solid #bbb;
    }
  .modal select {
    width: 100%;
    margin: 0 0 1%;
    padding: 1% 1.25%;
    border: 1px solid #bbb;
    border-radius: 4px;
    background: #fff;
    }
  .modal button {
    float: right;
    margin-top: .75rem;
    padding: 1% 2%;
    margin-left: 2%;
    background: #ddd;
    border: 1px solid #999;
    cursor: pointer;
    border-radius: 4px;
    }
  .modal button:focus-visible {
    outline: #e95420 2px solid;
    }


/* icons */
.i16 {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: 100%;
  }
.i16.home { background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMTYiIGhlaWdodD0iMTYiCnZpZXdCb3g9IjAgMCAxNiAxNiIKc3R5bGU9IiBmaWxsOiN1bmRlZmluZWQ7Ij48cGF0aCBkPSJNIDggMS4zMjAzMTMgTCAwLjY2MDE1NiA4LjEzMjgxMyBMIDEuMzM5ODQ0IDguODY3MTg4IEwgMiA4LjI1MzkwNiBMIDIgMTQgTCA3IDE0IEwgNyA5IEwgOSA5IEwgOSAxNCBMIDE0IDE0IEwgMTQgOC4yNTM5MDYgTCAxNC42NjAxNTYgOC44NjcxODggTCAxNS4zMzk4NDQgOC4xMzI4MTMgWiBNIDggMi42Nzk2ODggTCAxMyA3LjMyODEyNSBMIDEzIDEzIEwgMTAgMTMgTCAxMCA4IEwgNiA4IEwgNiAxMyBMIDMgMTMgTCAzIDcuMzI4MTI1IFoiPjwvcGF0aD48L3N2Zz4=') 50% 50% no-repeat; }
.i16.bookmark { background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMTYiIGhlaWdodD0iMTYiCnZpZXdCb3g9IjAgMCAxNiAxNiIKc3R5bGU9IiBmaWxsOiN1bmRlZmluZWQ7Ij48cGF0aCBkPSJNIDQuNSAyIEMgMy42NzU3ODEgMiAzIDIuNjc1NzgxIDMgMy41IEwgMyAxNC40ODQzNzUgTCA4IDEwLjgyMDMxMyBMIDEzIDE0LjQ4NDM3NSBMIDEzIDMuNSBDIDEzIDIuNjc1NzgxIDEyLjMyNDIxOSAyIDExLjUgMiBaIE0gNC41IDMgTCAxMS41IDMgQyAxMS43ODEyNSAzIDEyIDMuMjE4NzUgMTIgMy41IEwgMTIgMTIuNTE1NjI1IEwgOCA5LjU3ODEyNSBMIDQgMTIuNTE1NjI1IEwgNCAzLjUgQyA0IDMuMjE4NzUgNC4yMTg3NSAzIDQuNSAzIFoiPjwvcGF0aD48L3N2Zz4=') 50% 50% no-repeat; }
.i16.bookmark-filled { background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMTYiIGhlaWdodD0iMTYiCnZpZXdCb3g9IjAgMCAxNiAxNiIKc3R5bGU9IiBmaWxsOiN1bmRlZmluZWQ7Ij48cGF0aCBkPSJNIDEzIDE0LjQ4ODI4MSBMIDggMTAuODIwMzEzIEwgMyAxNC40ODgyODEgTCAzIDMuNSBDIDMgMi42NzE4NzUgMy42NzE4NzUgMiA0LjUgMiBMIDExLjUgMiBDIDEyLjMyODEyNSAyIDEzIDIuNjcxODc1IDEzIDMuNSBaIj48L3BhdGg+PC9zdmc+') 50% 50% no-repeat; }
.i16.folder { background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMTYiIGhlaWdodD0iMTYiCnZpZXdCb3g9IjAgMCAxNiAxNiIKc3R5bGU9IiBmaWxsOiN1bmRlZmluZWQ7Ij48cGF0aCBkPSJNIDIuNSAyIEMgMS42NzU3ODEgMiAxIDIuNjc1NzgxIDEgMy41IEwgMSAxMi41IEMgMSAxMy4zMjQyMTkgMS42NzU3ODEgMTQgMi41IDE0IEwgMTMuNSAxNCBDIDE0LjMyNDIxOSAxNCAxNSAxMy4zMjQyMTkgMTUgMTIuNSBMIDE1IDUuNSBDIDE1IDQuNjc1NzgxIDE0LjMyNDIxOSA0IDEzLjUgNCBMIDYuNzk2ODc1IDQgTCA2LjE0NDUzMSAyLjc4OTA2MyBDIDUuODgyODEzIDIuMzAwNzgxIDUuMzc1IDIgNC44MjQyMTkgMiBaIE0gMi41IDMgTCA0LjgyNDIxOSAzIEMgNS4wMDc4MTMgMyA1LjE3NTc4MSAzLjEwMTU2MyA1LjI2NTYyNSAzLjI2MTcxOSBMIDUuNjY0MDYzIDQgTCAyIDQgTCAyIDMuNSBDIDIgMy4yMTg3NSAyLjIxODc1IDMgMi41IDMgWiBNIDIgNSBMIDEzLjUgNSBDIDEzLjc4MTI1IDUgMTQgNS4yMTg3NSAxNCA1LjUgTCAxNCAxMi41IEMgMTQgMTIuNzgxMjUgMTMuNzgxMjUgMTMgMTMuNSAxMyBMIDIuNSAxMyBDIDIuMjE4NzUgMTMgMiAxMi43ODEyNSAyIDEyLjUgWiI+PC9wYXRoPjwvc3ZnPg==') 50% 50% no-repeat; }
.i16.ban { background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMTYiIGhlaWdodD0iMTYiCnZpZXdCb3g9IjAgMCAxNiAxNiIKc3R5bGU9IiBmaWxsOiN1bmRlZmluZWQ7Ij48cGF0aCBkPSJNIDcuNSAxIEMgMy45MTc5NjkgMSAxIDMuOTE3OTY5IDEgNy41IEMgMSAxMS4wODIwMzEgMy45MTc5NjkgMTQgNy41IDE0IEMgMTEuMDgyMDMxIDE0IDE0IDExLjA4MjAzMSAxNCA3LjUgQyAxNCAzLjkxNzk2OSAxMS4wODIwMzEgMSA3LjUgMSBaIE0gNy41IDIgQyAxMC41NDI5NjkgMiAxMyA0LjQ1NzAzMSAxMyA3LjUgQyAxMyA4LjgzOTg0NCAxMi41MTk1MzEgMTAuMDY2NDA2IDExLjcyNjU2MyAxMS4wMTk1MzEgTCAzLjk4MDQ2OSAzLjI3MzQzOCBDIDQuOTMzNTk0IDIuNDgwNDY5IDYuMTYwMTU2IDIgNy41IDIgWiBNIDMuMjczNDM4IDMuOTgwNDY5IEwgMTEuMDE5NTMxIDExLjcyNjU2MyBDIDEwLjA2NjQwNiAxMi41MTk1MzEgOC44Mzk4NDQgMTMgNy41IDEzIEMgNC40NTcwMzEgMTMgMiAxMC41NDI5NjkgMiA3LjUgQyAyIDYuMTYwMTU2IDIuNDgwNDY5IDQuOTMzNTk0IDMuMjczNDM4IDMuOTgwNDY5IFoiPjwvcGF0aD48L3N2Zz4=') 50% 50% no-repeat; }
.i16.trash { background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMTYiIGhlaWdodD0iMTYiCnZpZXdCb3g9IjAgMCAxNiAxNiIKc3R5bGU9IiBmaWxsOiN1bmRlZmluZWQ7Ij48cGF0aCBkPSJNIDYuNDk2MDk0IDEgQyA1LjY3NTc4MSAxIDUgMS42NzU3ODEgNSAyLjQ5NjA5NCBMIDUgMyBMIDIgMyBMIDIgNCBMIDMgNCBMIDMgMTIuNSBDIDMgMTMuMzI0MjE5IDMuNjc1NzgxIDE0IDQuNSAxNCBMIDEwLjUgMTQgQyAxMS4zMjQyMTkgMTQgMTIgMTMuMzI0MjE5IDEyIDEyLjUgTCAxMiA0IEwgMTMgNCBMIDEzIDMgTCAxMCAzIEwgMTAgMi40OTYwOTQgQyAxMCAxLjY3NTc4MSA5LjMyNDIxOSAxIDguNTAzOTA2IDEgWiBNIDYuNDk2MDk0IDIgTCA4LjUwMzkwNiAyIEMgOC43ODUxNTYgMiA5IDIuMjE0ODQ0IDkgMi40OTYwOTQgTCA5IDMgTCA2IDMgTCA2IDIuNDk2MDk0IEMgNiAyLjIxNDg0NCA2LjIxNDg0NCAyIDYuNDk2MDk0IDIgWiBNIDQgNCBMIDExIDQgTCAxMSAxMi41IEMgMTEgMTIuNzgxMjUgMTAuNzgxMjUgMTMgMTAuNSAxMyBMIDQuNSAxMyBDIDQuMjE4NzUgMTMgNCAxMi43ODEyNSA0IDEyLjUgWiBNIDUgNSBMIDUgMTIgTCA2IDEyIEwgNiA1IFogTSA3IDUgTCA3IDEyIEwgOCAxMiBMIDggNSBaIE0gOSA1IEwgOSAxMiBMIDEwIDEyIEwgMTAgNSBaIj48L3BhdGg+PC9zdmc+') 50% 50% no-repeat; }
.i16.edit { background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMTYiIGhlaWdodD0iMTYiCnZpZXdCb3g9IjAgMCAxNiAxNiIKc3R5bGU9IiBmaWxsOiN1bmRlZmluZWQ7Ij48cGF0aCBkPSJNIDEyLjAzMTI1IDIuMDIzNDM4IEMgMTEuNTM1MTU2IDIuMDIzNDM4IDExLjA2NjQwNiAyLjI2OTUzMSAxMC42NzU3ODEgMi42NTYyNSBMIDIuNTYyNSAxMC43MjY1NjMgTCAxLjIwNzAzMSAxNC43ODUxNTYgTCA1LjI2NTYyNSAxMy40MzM1OTQgTCA1LjM1MTU2MyAxMy4zNTE1NjMgTCAxMy4zODY3MTkgNS4zNjcxODggQyAxMy43NzM0MzggNC45NzY1NjMgMTQuMDE1NjI1IDQuNTA3ODEzIDE0LjAxNTYyNSA0LjAxMTcxOSBDIDE0LjAxNTYyNSAzLjUxNTYyNSAxMy43NzM0MzggMy4wNDY4NzUgMTMuMzg2NzE5IDIuNjU2MjUgQyAxMi45OTYwOTQgMi4yNjk1MzEgMTIuNTI3MzQ0IDIuMDIzNDM4IDEyLjAzMTI1IDIuMDIzNDM4IFogTSAxMC4wMjczNDQgNC43MTA5MzggTCAxMS4zMjAzMTMgNi4wMDc4MTMgTCA0LjcyNjU2MyAxMi41NjI1IEwgMi43ODkwNjMgMTMuMjA3MDMxIEwgMy40Mzc1IDExLjI2NTYyNSBaIj48L3BhdGg+PC9zdmc+') 50% 50% no-repeat; }
.i16.plus { background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMTYiIGhlaWdodD0iMTYiCnZpZXdCb3g9IjAgMCAxNiAxNiIKc3R5bGU9IiBmaWxsOiN1bmRlZmluZWQ7Ij48cGF0aCBkPSJNIDcuNSAxIEMgMy45MTc5NjkgMSAxIDMuOTE3OTY5IDEgNy41IEMgMSAxMS4wODIwMzEgMy45MTc5NjkgMTQgNy41IDE0IEMgMTEuMDgyMDMxIDE0IDE0IDExLjA4MjAzMSAxNCA3LjUgQyAxNCAzLjkxNzk2OSAxMS4wODIwMzEgMSA3LjUgMSBaIE0gNy41IDIgQyAxMC41NDI5NjkgMiAxMyA0LjQ1NzAzMSAxMyA3LjUgQyAxMyAxMC41NDI5NjkgMTAuNTQyOTY5IDEzIDcuNSAxMyBDIDQuNDU3MDMxIDEzIDIgMTAuNTQyOTY5IDIgNy41IEMgMiA0LjQ1NzAzMSA0LjQ1NzAzMSAyIDcuNSAyIFogTSA3IDQgTCA3IDcgTCA0IDcgTCA0IDggTCA3IDggTCA3IDExIEwgOCAxMSBMIDggOCBMIDExIDggTCAxMSA3IEwgOCA3IEwgOCA0IFoiPjwvcGF0aD48L3N2Zz4=') 50% 50% no-repeat; }
.i16.close { background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMTYiIGhlaWdodD0iMTYiCnZpZXdCb3g9IjAgMCAxNiAxNiIKc3R5bGU9IiBmaWxsOiN1bmRlZmluZWQ7Ij48cGF0aCBkPSJNIDIuNzUgMi4wNDI5NjkgTCAyLjA0Mjk2OSAyLjc1IEwgMi4zOTg0MzggMy4xMDE1NjMgTCA3LjI5Mjk2OSA4IEwgMi4wNDI5NjkgMTMuMjUgTCAyLjc1IDEzLjk1NzAzMSBMIDggOC43MDcwMzEgTCAxMi44OTQ1MzEgMTMuNjA1NDY5IEwgMTMuMjUgMTMuOTU3MDMxIEwgMTMuOTU3MDMxIDEzLjI1IEwgMTMuNjA1NDY5IDEyLjg5NDUzMSBMIDguNzA3MDMxIDggTCAxMy45NTcwMzEgMi43NSBMIDEzLjI1IDIuMDQyOTY5IEwgOCA3LjI5Mjk2OSBMIDMuMTAxNTYzIDIuMzk4NDM4IFoiPjwvcGF0aD48L3N2Zz4=') 50% 50% no-repeat; }
.i16.reload { background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMTYiIGhlaWdodD0iMTYiCnZpZXdCb3g9IjAgMCAxNiAxNiIKc3R5bGU9IiBmaWxsOiN1bmRlZmluZWQ7Ij48cGF0aCBkPSJNIDIuNDY0ODQ0IDEgTCA0LjE1MjM0NCAyLjY4NzUgQyAyLjgzNTkzOCAzLjg3ODkwNiAyIDUuNTg5ODQ0IDIgNy41IEMgMiAxMS4wODU5MzggNC45MTQwNjMgMTQgOC41IDE0IEMgMTIuMDg1OTM4IDE0IDE1IDExLjA4NTkzOCAxNSA3LjUgQyAxNSAzLjkxNDA2MyAxMi4wODU5MzggMSA4LjUgMSBMIDggMSBMIDggMiBMIDguNSAyIEMgMTEuNTQyOTY5IDIgMTQgNC40NTcwMzEgMTQgNy41IEMgMTQgMTAuNTQyOTY5IDExLjU0Mjk2OSAxMyA4LjUgMTMgQyA1LjQ1NzAzMSAxMyAzIDEwLjU0Mjk2OSAzIDcuNSBDIDMgNS44NTkzNzUgMy43MjI2NTYgNC40MDIzNDQgNC44NTkzNzUgMy4zOTQ1MzEgTCA2IDQuNTM1MTU2IEwgNiAxIFoiPjwvcGF0aD48L3N2Zz4=') 50% 50% no-repeat; }
.i16.sun { background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMTYiIGhlaWdodD0iMTYiCnZpZXdCb3g9IjAgMCAxNiAxNiIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij48cGF0aCBkPSJNIDcgMSBMIDcgNC4wNTA3ODEgQyA2LjQxNDA2MyA0LjEzNjcxOSA1Ljg3NSA0LjM3NSA1LjQyMTg3NSA0LjcxMDkzOCBMIDMuMjU3ODEzIDIuNTUwNzgxIEwgMi41NTA3ODEgMy4yNTc4MTMgTCA0LjcxMDkzOCA1LjQyMTg3NSBDIDQuMzY3MTg4IDUuODc1IDQuMTMyODEzIDYuNDEwMTU2IDQuMDQ2ODc1IDcgTCAxIDcgTCAxIDggTCA0LjA0Njg3NSA4IEMgNC4xMzI4MTMgOC41ODk4NDQgNC4zNjcxODggOS4xMjUgNC43MTA5MzggOS41NzgxMjUgTCAyLjU1MDc4MSAxMS43NDIxODggTCAzLjI1NzgxMyAxMi40NDkyMTkgTCA1LjQyMTg3NSAxMC4yODUxNTYgQyA1Ljg3NSAxMC42MjUgNi40MTQwNjMgMTAuODYzMjgxIDcgMTAuOTQ5MjE5IEwgNyAxNCBMIDggMTQgTCA4IDEwLjk0OTIxOSBDIDguNTg1OTM4IDEwLjg2MzI4MSA5LjEyNSAxMC42MjUgOS41NzgxMjUgMTAuMjg1MTU2IEwgMTEuNzQyMTg4IDEyLjQ0OTIxOSBMIDEyLjQ0OTIxOSAxMS43NDIxODggTCAxMC4yODUxNTYgOS41NzgxMjUgQyAxMC42MzI4MTMgOS4xMjUgMTAuODY3MTg4IDguNTg5ODQ0IDEwLjk1MzEyNSA4IEwgMTQgOCBMIDE0IDcgTCAxMC45NTMxMjUgNyBDIDEwLjg2NzE4OCA2LjQxMDE1NiAxMC42MzI4MTMgNS44NzUgMTAuMjg1MTU2IDUuNDIxODc1IEwgMTIuNDQ5MjE5IDMuMjU3ODEzIEwgMTEuNzQyMTg4IDIuNTUwNzgxIEwgOS41NzgxMjUgNC43MTA5MzggQyA5LjEyNSA0LjM3NSA4LjU4NTkzOCA0LjEzNjcxOSA4IDQuMDUwNzgxIEwgOCAxIFogTSA3LjUgNSBDIDguODg2NzE5IDUgMTAgNi4xMTMyODEgMTAgNy41IEMgMTAgOC44ODY3MTkgOC44ODY3MTkgMTAgNy41IDEwIEMgNi4xMTMyODEgMTAgNSA4Ljg4NjcxOSA1IDcuNSBDIDUgNi4xMTMyODEgNi4xMTMyODEgNSA3LjUgNSBaIj48L3BhdGg+PC9zdmc+') 50% 50% no-repeat }

.dark .i16 {
  filter: invert(.5);
  }
.dark #nav {
  background: #3e3f42;
  }
body.dark {
  background: #131414;
  }
.dark #app {
  color: #bbb;
  }
.dark a {
  color: #bbb;
  }
.dark .record {
  border: 1px solid #0c1111c7;
  background: #222327;
  color: #bbb;
  }
.dark .record.selected {
  outline-color: #43555be6;
  }
  .dark .record > .category {
    color:#8c8c8c;
    }
  .dark .record > .pubdate {
    color: #7f7f7f;
    }
.dark .sources {
  background: #222327;
  border-color: #0c1111c7;
  }
  .dark .sources > .source {
    border-color: #0c1111c7;
    border-bottom: 0;
    }
    .dark .sources > .source:hover {
      background-color: #3e3f422b;
      }
      .dark .sources > .source > span {
        border-color: #0c1111c7;
        }
.dark .load-more {
  background: #3e3f42;
  }
.dark .modal {
  background: #3e3f42;
  border-color: #b0b0b0;
  }
  .dark .modal .title {
    color: #bbb;
    }
  .dark .modal input {
    background: #222327;
    color: #bbb;
    border: 1px solid #555;
    }
  .dark .modal select {
    background: #222327;
    color: #bbb;
    border: 1px solid #555;
    }
    .dark .modal button {
      background-color: #888;
      }
.dark .error {
  color: #ddd;
  }
  .dark .error > .reload {
    filter: invert(.9);
    }

@media only screen and (max-width: 420px) {
  #app {
    padding: 15px;
    }
  #nav > ul > li {
    margin-right: .8rem;
    }
}

@media only screen and (max-width: 390px) {
  #app {
    padding: 0;
    }
    .sources > .source {
      font-size: .65rem;
      }
      .sources > .source > span {
        padding: 0 .1rem;
        }
  .modal {
    max-width: 100%;
    }
  .record,
  .record.selected {
    border: 0;
    border-bottom: 1px dotted #999;
    border-radius: 0;
    outline: none;
    margin-top: 0;
    }
    .record > .actions {
      position: relative;
      top: 2px;
      }
    .record > .actions > a {
      padding: 5px;
      margin-top: -4px;
      }
  .load-more {
    margin-bottom: .5rem;
    }
  .sources {
    margin-top: 0;
    }
  .sources > .source > span {
    min-width: 26px;
    padding: .25rem;
    justify-content: center;
    align-items: center;
    display: flex;
    }
  .dark .record {
    border: 0;
    border-bottom: 1px solid #0c1111c7;
    }
  .dark #nav {
    border-radius: 0;
    }
  }

